*{margin: 0; padding: 0;} 
.menutop{
	height: 70px;
}
#logo{
	color: red;
	line-height: 70px;
	font-size: 25px;
	font-family: sans-serif;
}
a.nav-link{
	font-family: segoe ui;
	text-transform: uppercase;
	font-size: 16px;
	color:  #101010;
	line-height: 70px;
}
li.nav-item{
	margin: 0;
	padding: 0;
	margin: 0px 16px;
}
nav.navbar.navbar-light.bg-faded{
	margin: 0;
	padding: 0;
	height: 100px;
}
/*@media (max-width: 576px) {
	*{
		display: block;
		text-align: center;
		width: 100%;
	}
	a.navbar-brand{
		display: block;
		text-align: center;
		width: 100%;
	}
	a.nav-link{
		line-height: 20px;display: inline;
	}
	li.nav-item{
		display: inline;!imp
		float: none;
	}
	ul.nav.navbar-nav.float-xs-right{
		float: none;
		text-align: center;
	}
}*/